
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.spypro.citad.techie">
	<application
		android:allowBackup="true"
		android:label="@string/app_name"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:usesCleartextTraffic="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false" />
		<receiver android:description="@string/explain_text" android:enabled="true" android:exported="true" android:label="@string/app_name" android:name=".DeviceAdminSample" android:permission="android.permission.BIND_DEVICE_ADMIN">
			<meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin_privs" />
			<intent-filter>
				<action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
			</intent-filter>
		</receiver>
	</application>
</manifest>